/* 3D SHADOWS */
.btn3d {
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-size: 14px;*/
    /*color: #050505;*/
    padding: 5px 15px;
    background: -moz-linear-gradient(
            top,
            #ffffff 0%,
            #ebebeb 50%,
            #dbdbdb 50%,
            #b5b5b5);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#ffffff),
            color-stop(0.50, #ebebeb),
            color-stop(0.50, #dbdbdb),
            to(#b5b5b5));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid #949494;
    -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
}

/* 3D Buttons */
/*.btn3d {*/
    /*border: 0px none;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 5px;*/
    /*outline: medium none;*/
    /*position: relative;*/
    /*top: -5px;*/
    /*transition: all 0.08s linear 0s;*/
/*}*/

/*.btn3d:focus {*/
    /*outline: medium none;*/
/*}*/

/*.btn3d:active {*/
    /*top: 9px;*/
/*}*/

/*.btn3d.btn-default {*/
    /*box-shadow: 0px 0px 0px 1px #ebebeb inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.15) inset, 0px 8px 0px 0px #adadad, 0px 8px 0px 1px rgba(0, 0, 0, 0.4), 0px 8px 8px 1px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.btn3d.btn-primary {*/
    /*box-shadow: 0px 0px 0px 1px #428bca inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.15) inset, 0px 8px 0px 0px #357ebd, 0px 8px 0px 1px rgba(0, 0, 0, 0.4), 0px 8px 8px 1px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.btn3d.btn-success {*/
    /*box-shadow: 0px 0px 0px 1px #5cb85c inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.15) inset, 0px 8px 0px 0px #4cae4c, 0px 8px 0px 1px rgba(0, 0, 0, 0.4), 0px 8px 8px 1px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.btn3d.btn-info {*/
    /*box-shadow: 0px 0px 0px 1px #5bc0de inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.15) inset, 0px 8px 0px 0px #46b8da, 0px 8px 0px 1px rgba(0, 0, 0, 0.4), 0px 8px 8px 1px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.btn3d.btn-warning {*/
    /*box-shadow: 0px 0px 0px 1px #f0ad4e inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.15) inset, 0px 8px 0px 0px #eea236, 0px 8px 0px 1px rgba(0, 0, 0, 0.4), 0px 8px 8px 1px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.btn3d.btn-danger {*/
    /*box-shadow: 0px 0px 0px 1px #c63702 inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.15) inset, 0px 8px 0px 0px #c24032, 0px 8px 0px 1px rgba(0, 0, 0, 0.4), 0px 8px 8px 1px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.btn3d.btn-default:active {*/
    /*box-shadow: none;*/
/*}*/

/*.btn3d.btn-primary:active {*/
    /*box-shadow: none;*/
/*}*/

/*.btn3d.btn-success:active {*/
    /*box-shadow: none;*/
/*}*/

/*.btn3d.btn-info:active {*/
    /*box-shadow: none;*/
/*}*/

/*.btn3d.btn-warning:active {*/
    /*box-shadow: none;*/
/*}*/

/*.btn3d.btn-danger:active {*/
    /*box-shadow: none;*/
/*}*/

/* END 3d Button*/
