.likeCallout {
    padding: 0 5px;
    margin-right: 10px;
    position: relative;
    background: white;
    border: 1px solid #000000;
}

.likeCallout:after, .likeCallout:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.likeCallout:after {
    border-color: rgba(130, 213, 210, 0);
    border-right-color: white;
    border-width: 3px;
    margin-top: -3px;
}

.likeCallout:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 4px;
    margin-top: -4px;
}