/* begin styles for RSS Feed */

.rss-box {
    margin: 3px;
    width: auto;
    background-color: #F1F1FD;
    border: 1px solid #9B72CF;

}
.rss-items {
    margin-top:0px;
    padding:0.5em; 0.5em;
    margin-left:0px;
    color:#000000;
}
p.rss-title {padding:0.5em;}
.rss-title {
    text-decoration: none;
    font-family: verdana, sans-serif;
    font-size: 85%;
    background-color:#9B72CF;
    color:#ffffff;
    font-weight:bold;
    margin: 0px;
    padding:0em;
    text-align: left;
}

.rss-item  {
    font-family: verdana, arial, sans-serif;
    font-size: 0.75em;
    font-weight : normal;
    list-style:none;
    padding-bottom:1em;
    text-align: justify;
}

.rss-item a {
    text-decoration : underline;
    color:blue;
    font-size: 105%;
    font-weight:bold;
    font-family:arial, sans-serif;
}

.rss-item a:visited {
    color:purple;
}

.rss-date {
    font-size: 85%;
    font-weight : normal;
    color: #F60;
}

/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
    _width:12em;
    margin: 0 0.2em; padding: 0.1em 0; _padding:0;

    white-space:nowrap;
    text-decoration: none;
    vertical-align:middle;
    background: #fb6;
    color: black;
}
.pod-play em {
    _width:1em; _cursor:hand;
    font-style: normal;
    margin:0; padding: 0.1em 0.5em;
    background: white;
    color: #222;
}
.pod-play span {
    _width:1em; _cursor:hand;
    margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
}
.pod-play:hover {
    background: #666;
    color: white;
}
.pod-play:hover em {
    background: black;
    color: white
}