body {
	margin: 0px; 
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}


input[type=text], input[type=password]{
    border:1px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:0px;
    padding:4px 3px;
    width:200px;
    display:block;
}

/* PAGE TOP */
#pageTop {
	/*background: url(headerSliver.png) repeat-x;*/
	height: 90px;
	background-color:#03C;
}
#pageTop > #pageTopWrap {
	max-width: 1000px;
	margin: 0px auto;
	height: 90px;
}
#pageTop > #pageTopWrap > #pageTopLogo {
	float: left;
	height: 90px;
	max-width: 108px;
}

#pageTop > #pageTopWrap > #pageTopRest {
	float: left;
	height: 90px;
	width: 1000px;
}

#pageTop > #pageTopWrap > #pageTopRest > #menu1 {
	height: 44px;
    //background:#999;
}

/*
Page Top Login Status Menu
============================-*/>
#pageTop > #pageTopWrap > #pageTopRest > #menu1 > div {
	margin-top: 4px;
	padding: 4px;
	text-align: right;
}


#pageTop > #pageTopWrap > #pageTopRest > #menu1 > div > a {
	color: #CCC;
	text-decoration: none;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu1 > div > 
	a:hover {
	color: #C0E73D;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 {
	height: 44px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 > div {
	margin-top: 2px;
	padding: 4px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 > div > a {
	display: block;
	float: left;
	color: #CCC;
	text-decoration: none;
	margin: 0px 16px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 > div > a:hover {
	color: #C0E73D;
}


/*=========================================
Form Login 
==========================================*/
#menu1 > #loginform{
    float: right;
    margin: 0px;
    padding: 0px;
    color:white;
    //background:#777;    
}

#menu1 > #logout{
    float: right;
    margin: 0px;
    padding: 0px;
    color:white;
    font-size: 12px;
    //background:#777;    
}
#menu1 > #logout a{
	color:white;
	text-decoration: none;
}	

#loginform a{
    color:white;
    text-decoration:none;
}

.btn{
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:15px;
        background:#a1d8f0;
        background:-moz-linear-gradient(top, #badff3, #7acbed);
        background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
        border:1px solid #7db0cc !important;
        cursor: pointer;
        padding:5px 10px;
        font:bold 11px/14px Verdana, Tahomma, Geneva;
        text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
        color:#fff;
        -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
        -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
        box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
        margin-left:1px;
        /*float:right;*/
        padding:7px 21px;
}

#loginform > #div_status{
    display:block;        
    margin:0px;
}

#loginform > #div_status p{
    margin:0px;
    padding:0px;
}


/* PAGE MIDDLE */
#pageMiddle {
	max-width:1000px;
	margin: 0px auto;
	min-height:500px;
}

/* PAGE BOTTOM */
#pageBottom {
	background: #666;
	padding: 10px;
	font-size: 12px;
	color:#000;
	text-align: center;
	height:20px;
}




.box {
    float:right;
    background:#fefefe;
    border: 1px solid #C3D4DB;
	border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:10px auto;
    padding:0 10px 10px;
	overflow:hidden;
	
}

.box input{
    margin:5px;
    max-width: 200px;
}
