.onoffswitch {
     -moz-user-select: none;
     position: relative;
     width: 75px;
}

.onoffswitch-checkbox {
     display: none;
}

.onoffswitch-label {
     border-radius: 7px;
     border: .5px solid #999999;
     cursor: pointer;
     display: block;
     overflow: hidden;
}

.onoffswitch-inner {
     display: block;
     margin-left: -100%;
     transition: margin 0.3s ease-in 0s;
     width: 200%;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
     box-sizing: border-box;
     color: white;
     display: block;
     float: left;
     font-family: Trebuchet,Arial,sans-serif;
     font-size: 10px;
     font-weight: bold;
     height: 16px;
     line-height: 16px;
     padding: 0px;
     width: 50%;
}

.onoffswitch-inner:before {
     background-color: #029633;
     color: #ffffff;
     content: "Online";
     padding-left: 5px;
}

.onoffswitch-inner:after {
     background-color: #eeeeee;
     color: #999999;
     content: "Offline";
     padding-right: 5px;
     text-align: right;
}

.onoffswitch-switch {
     background: none repeat scroll 0% 0% #fff;
     border-radius: 8px;
     border: 2px solid #999999;
     bottom: 0px;
     display: block;
     margin: 4px;
     position: absolute;
     right: 55px;
     top: 0px;
     transition: all 0.1s ease-in 0s;
     width: 10px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
     margin-left: 0px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
     right: 0px;
}
