#upload-wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #F5F5F5;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #AAA;
}

#ImageFile{
	border: 1px solid #DDD;
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
}

#upload-wrapper #submit-btn {
	border: none;
	padding: 10px;
	background: #61BAE4;
	border-radius: 5px;
	color: #FFF;
}

/* progress bar style */
#progressbox {
	border: 1px solid #92C8DA;
	padding: 1px; 
	position:relative;
	/*xwidth:400px;*/
	border-radius: 3px;
	margin: 10px;
	display:block;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #00b35e;
	width:1%;
}
#statustxt {
	text-align: center !important;
	/*xleft:50%;*/
	position:absolute;
	display:inline-block;
	color: #000000;
	top: 0px;
}