/*Additional style flat button*/
input.flatbtn {
    position: relative;
    vertical-align: top;
    width: 75px;
    height: 30px;
    padding: 0px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 2px solid #2a8bcc;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}
input.flatbtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*END*/


/*** Additional  White Buttons and OTher CSSS ***/
.btn.btn-white{background-color:#fff!important;text-shadow:none!important}.btn.btn-white.no-hover:active,.btn.btn-white.no-hover:hover{background-color:#fff!important}.btn.btn-white.active,.btn.btn-white:focus{box-shadow:1px 1px 2px 0 rgba(0,0,0,.1) inset!important}.btn.btn-white.active.btn-bold,.btn.btn-white.btn-bold:focus{box-shadow:1px 1px 3px 0 rgba(0,0,0,.15) inset!important}.btn.btn-white.active:after{display:none}.btn.btn-white{border-color:#ccc;color:#444!important}.btn.btn-white.active,.btn.btn-white:active,.btn.btn-white:focus,.btn.btn-white:hover,.open>.btn.btn-white.active.dropdown-toggle,.open>.btn.btn-white.dropdown-toggle{background-color:#ebebeb!important;border-color:#ccc;color:#3a3434!important}.btn.btn-white.active.no-border,.btn.btn-white.active[disabled],.btn.btn-white.disabled,.btn.btn-white.disabled.active,.btn.btn-white.disabled:active,.btn.btn-white.disabled:focus,.btn.btn-white.disabled:hover,.btn.btn-white.no-border:active,.btn.btn-white.no-border:focus,.btn.btn-white.no-border:hover,.btn.btn-white[disabled],.btn.btn-white[disabled]:active,.btn.btn-white[disabled]:focus,.btn.btn-white[disabled]:hover,.open>.btn.btn-white.active.dropdown-toggle.no-border,.open>.btn.btn-white.dropdown-toggle.no-border,fieldset[disabled] .btn.btn-white,fieldset[disabled] .btn.btn-white.active,fieldset[disabled] .btn.btn-white:active,fieldset[disabled] .btn.btn-white:focus,fieldset[disabled] .btn.btn-white:hover{border-color:#ccc}.btn-white.btn-default{border-color:#abbac3;color:#80909a!important}.btn-white.btn-default.active,.btn-white.btn-default:active,.btn-white.btn-default:focus,.btn-white.btn-default:hover,.open>.btn-white.btn-default.active.dropdown-toggle,.open>.btn-white.btn-default.dropdown-toggle{background-color:#eff2f4!important;border-color:#abbac3;color:#6b8595!important}.btn-white.btn-default.active.no-border,.btn-white.btn-default.active[disabled],.btn-white.btn-default.disabled,.btn-white.btn-default.disabled.active,.btn-white.btn-default.disabled:active,.btn-white.btn-default.disabled:focus,.btn-white.btn-default.disabled:hover,.btn-white.btn-default.no-border:active,.btn-white.btn-default.no-border:focus,.btn-white.btn-default.no-border:hover,.btn-white.btn-default[disabled],.btn-white.btn-default[disabled]:active,.btn-white.btn-default[disabled]:focus,.btn-white.btn-default[disabled]:hover,.open>.btn-white.btn-default.active.dropdown-toggle.no-border,.open>.btn-white.btn-default.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-default,fieldset[disabled] .btn-white.btn-default.active,fieldset[disabled] .btn-white.btn-default:active,fieldset[disabled] .btn-white.btn-default:focus,fieldset[disabled] .btn-white.btn-default:hover{border-color:#abbac3}.btn-white.btn-primary{border-color:#8aafce;color:#6688a6!important}.btn-white.btn-primary.active,.btn-white.btn-primary:active,.btn-white.btn-primary:focus,.btn-white.btn-primary:hover,.open>.btn-white.btn-primary.active.dropdown-toggle,.open>.btn-white.btn-primary.dropdown-toggle{background-color:#eaf2f8!important;border-color:#8aafce;color:#537c9f!important}.btn-white.btn-primary.active.no-border,.btn-white.btn-primary.active[disabled],.btn-white.btn-primary.disabled,.btn-white.btn-primary.disabled.active,.btn-white.btn-primary.disabled:active,.btn-white.btn-primary.disabled:focus,.btn-white.btn-primary.disabled:hover,.btn-white.btn-primary.no-border:active,.btn-white.btn-primary.no-border:focus,.btn-white.btn-primary.no-border:hover,.btn-white.btn-primary[disabled],.btn-white.btn-primary[disabled]:active,.btn-white.btn-primary[disabled]:focus,.btn-white.btn-primary[disabled]:hover,.open>.btn-white.btn-primary.active.dropdown-toggle.no-border,.open>.btn-white.btn-primary.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-primary,fieldset[disabled] .btn-white.btn-primary.active,fieldset[disabled] .btn-white.btn-primary:active,fieldset[disabled] .btn-white.btn-primary:focus,fieldset[disabled] .btn-white.btn-primary:hover{border-color:#8aafce}.btn-white.btn-success{border-color:#a7c9a1;color:#81a87b!important}.btn-white.btn-success.active,.btn-white.btn-success:active,.btn-white.btn-success:focus,.btn-white.btn-success:hover,.open>.btn-white.btn-success.active.dropdown-toggle,.open>.btn-white.btn-success.dropdown-toggle{background-color:#edf4eb!important;border-color:#a7c9a1;color:#6ea465!important}.btn-white.btn-success.active.no-border,.btn-white.btn-success.active[disabled],.btn-white.btn-success.disabled,.btn-white.btn-success.disabled.active,.btn-white.btn-success.disabled:active,.btn-white.btn-success.disabled:focus,.btn-white.btn-success.disabled:hover,.btn-white.btn-success.no-border:active,.btn-white.btn-success.no-border:focus,.btn-white.btn-success.no-border:hover,.btn-white.btn-success[disabled],.btn-white.btn-success[disabled]:active,.btn-white.btn-success[disabled]:focus,.btn-white.btn-success[disabled]:hover,.open>.btn-white.btn-success.active.dropdown-toggle.no-border,.open>.btn-white.btn-success.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-success,fieldset[disabled] .btn-white.btn-success.active,fieldset[disabled] .btn-white.btn-success:active,fieldset[disabled] .btn-white.btn-success:focus,fieldset[disabled] .btn-white.btn-success:hover{border-color:#a7c9a1}.btn-white.btn-danger{border-color:#d7a59d;color:#b7837a!important}.btn-white.btn-danger.active,.btn-white.btn-danger:active,.btn-white.btn-danger:focus,.btn-white.btn-danger:hover,.open>.btn-white.btn-danger.active.dropdown-toggle,.open>.btn-white.btn-danger.dropdown-toggle{background-color:#fbf4f3!important;border-color:#d7a59d;color:#b46f64!important}.btn-white.btn-danger.active.no-border,.btn-white.btn-danger.active[disabled],.btn-white.btn-danger.disabled,.btn-white.btn-danger.disabled.active,.btn-white.btn-danger.disabled:active,.btn-white.btn-danger.disabled:focus,.btn-white.btn-danger.disabled:hover,.btn-white.btn-danger.no-border:active,.btn-white.btn-danger.no-border:focus,.btn-white.btn-danger.no-border:hover,.btn-white.btn-danger[disabled],.btn-white.btn-danger[disabled]:active,.btn-white.btn-danger[disabled]:focus,.btn-white.btn-danger[disabled]:hover,.open>.btn-white.btn-danger.active.dropdown-toggle.no-border,.open>.btn-white.btn-danger.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-danger,fieldset[disabled] .btn-white.btn-danger.active,fieldset[disabled] .btn-white.btn-danger:active,fieldset[disabled] .btn-white.btn-danger:focus,fieldset[disabled] .btn-white.btn-danger:hover{border-color:#d7a59d}.btn-white.btn-warning{border-color:#e7b979;color:#daa458!important}.btn-white.btn-warning.active,.btn-white.btn-warning:active,.btn-white.btn-warning:focus,.btn-white.btn-warning:hover,.open>.btn-white.btn-warning.active.dropdown-toggle,.open>.btn-white.btn-warning.dropdown-toggle{background-color:#fef7ec!important;border-color:#e7b979;color:#db9a3d!important}.btn-white.btn-warning.active.no-border,.btn-white.btn-warning.active[disabled],.btn-white.btn-warning.disabled,.btn-white.btn-warning.disabled.active,.btn-white.btn-warning.disabled:active,.btn-white.btn-warning.disabled:focus,.btn-white.btn-warning.disabled:hover,.btn-white.btn-warning.no-border:active,.btn-white.btn-warning.no-border:focus,.btn-white.btn-warning.no-border:hover,.btn-white.btn-warning[disabled],.btn-white.btn-warning[disabled]:active,.btn-white.btn-warning[disabled]:focus,.btn-white.btn-warning[disabled]:hover,.open>.btn-white.btn-warning.active.dropdown-toggle.no-border,.open>.btn-white.btn-warning.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-warning,fieldset[disabled] .btn-white.btn-warning.active,fieldset[disabled] .btn-white.btn-warning:active,fieldset[disabled] .btn-white.btn-warning:focus,fieldset[disabled] .btn-white.btn-warning:hover{border-color:#e7b979}.btn-white.btn-info{border-color:#8fbcd9;color:#70a0c1!important}.btn-white.btn-info.active,.btn-white.btn-info:active,.btn-white.btn-info:focus,.btn-white.btn-info:hover,.open>.btn-white.btn-info.active.dropdown-toggle,.open>.btn-white.btn-info.dropdown-toggle{background-color:#eef5fa!important;border-color:#8fbcd9;color:#5896bf!important}.btn-white.btn-info.active.no-border,.btn-white.btn-info.active[disabled],.btn-white.btn-info.disabled,.btn-white.btn-info.disabled.active,.btn-white.btn-info.disabled:active,.btn-white.btn-info.disabled:focus,.btn-white.btn-info.disabled:hover,.btn-white.btn-info.no-border:active,.btn-white.btn-info.no-border:focus,.btn-white.btn-info.no-border:hover,.btn-white.btn-info[disabled],.btn-white.btn-info[disabled]:active,.btn-white.btn-info[disabled]:focus,.btn-white.btn-info[disabled]:hover,.open>.btn-white.btn-info.active.dropdown-toggle.no-border,.open>.btn-white.btn-info.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-info,fieldset[disabled] .btn-white.btn-info.active,fieldset[disabled] .btn-white.btn-info:active,fieldset[disabled] .btn-white.btn-info:focus,fieldset[disabled] .btn-white.btn-info:hover{border-color:#8fbcd9}.btn-white.btn-inverse{border-color:#959595;color:#555!important}.btn-white.btn-inverse.active,.btn-white.btn-inverse:active,.btn-white.btn-inverse:focus,.btn-white.btn-inverse:hover,.open>.btn-white.btn-inverse.active.dropdown-toggle,.open>.btn-white.btn-inverse.dropdown-toggle{background-color:#e4e4e4!important;border-color:#959595;color:#4c4545!important}.btn-white.btn-inverse.active.no-border,.btn-white.btn-inverse.active[disabled],.btn-white.btn-inverse.disabled,.btn-white.btn-inverse.disabled.active,.btn-white.btn-inverse.disabled:active,.btn-white.btn-inverse.disabled:focus,.btn-white.btn-inverse.disabled:hover,.btn-white.btn-inverse.no-border:active,.btn-white.btn-inverse.no-border:focus,.btn-white.btn-inverse.no-border:hover,.btn-white.btn-inverse[disabled],.btn-white.btn-inverse[disabled]:active,.btn-white.btn-inverse[disabled]:focus,.btn-white.btn-inverse[disabled]:hover,.open>.btn-white.btn-inverse.active.dropdown-toggle.no-border,.open>.btn-white.btn-inverse.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-inverse,fieldset[disabled] .btn-white.btn-inverse.active,fieldset[disabled] .btn-white.btn-inverse:active,fieldset[disabled] .btn-white.btn-inverse:focus,fieldset[disabled] .btn-white.btn-inverse:hover{border-color:#959595}.btn-white.btn-pink{border-color:#d299ae;color:#af6f87!important}.btn-white.btn-pink.active,.btn-white.btn-pink:active,.btn-white.btn-pink:focus,.btn-white.btn-pink:hover,.open>.btn-white.btn-pink.active.dropdown-toggle,.open>.btn-white.btn-pink.dropdown-toggle{background-color:#fbeff4!important;border-color:#d299ae;color:#ac5978!important}.btn-white.btn-pink.active.no-border,.btn-white.btn-pink.active[disabled],.btn-white.btn-pink.disabled,.btn-white.btn-pink.disabled.active,.btn-white.btn-pink.disabled:active,.btn-white.btn-pink.disabled:focus,.btn-white.btn-pink.disabled:hover,.btn-white.btn-pink.no-border:active,.btn-white.btn-pink.no-border:focus,.btn-white.btn-pink.no-border:hover,.btn-white.btn-pink[disabled],.btn-white.btn-pink[disabled]:active,.btn-white.btn-pink[disabled]:focus,.btn-white.btn-pink[disabled]:hover,.open>.btn-white.btn-pink.active.dropdown-toggle.no-border,.open>.btn-white.btn-pink.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-pink,fieldset[disabled] .btn-white.btn-pink.active,fieldset[disabled] .btn-white.btn-pink:active,fieldset[disabled] .btn-white.btn-pink:focus,fieldset[disabled] .btn-white.btn-pink:hover{border-color:#d299ae}.btn-white.btn-purple{border-color:#b7b1c6;color:#7d6fa2!important}.btn-white.btn-purple.active,.btn-white.btn-purple:active,.btn-white.btn-purple:focus,.btn-white.btn-purple:hover,.open>.btn-white.btn-purple.active.dropdown-toggle,.open>.btn-white.btn-purple.dropdown-toggle{background-color:#efedf5!important;border-color:#b7b1c6;color:#6d5b9c!important}.btn-white.btn-purple.active.no-border,.btn-white.btn-purple.active[disabled],.btn-white.btn-purple.disabled,.btn-white.btn-purple.disabled.active,.btn-white.btn-purple.disabled:active,.btn-white.btn-purple.disabled:focus,.btn-white.btn-purple.disabled:hover,.btn-white.btn-purple.no-border:active,.btn-white.btn-purple.no-border:focus,.btn-white.btn-purple.no-border:hover,.btn-white.btn-purple[disabled],.btn-white.btn-purple[disabled]:active,.btn-white.btn-purple[disabled]:focus,.btn-white.btn-purple[disabled]:hover,.open>.btn-white.btn-purple.active.dropdown-toggle.no-border,.open>.btn-white.btn-purple.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-purple,fieldset[disabled] .btn-white.btn-purple.active,fieldset[disabled] .btn-white.btn-purple:active,fieldset[disabled] .btn-white.btn-purple:focus,fieldset[disabled] .btn-white.btn-purple:hover{border-color:#b7b1c6}.btn-white.btn-yellow{border-color:#ecd181;color:#d3a61a!important}.btn-white.btn-yellow.active,.btn-white.btn-yellow:active,.btn-white.btn-yellow:focus,.btn-white.btn-yellow:hover,.open>.btn-white.btn-yellow.active.dropdown-toggle,.open>.btn-white.btn-yellow.dropdown-toggle{background-color:#fdf7e4!important;border-color:#ecd181;color:#c29712!important}.btn-white.btn-yellow.active.no-border,.btn-white.btn-yellow.active[disabled],.btn-white.btn-yellow.disabled,.btn-white.btn-yellow.disabled.active,.btn-white.btn-yellow.disabled:active,.btn-white.btn-yellow.disabled:focus,.btn-white.btn-yellow.disabled:hover,.btn-white.btn-yellow.no-border:active,.btn-white.btn-yellow.no-border:focus,.btn-white.btn-yellow.no-border:hover,.btn-white.btn-yellow[disabled],.btn-white.btn-yellow[disabled]:active,.btn-white.btn-yellow[disabled]:focus,.btn-white.btn-yellow[disabled]:hover,.open>.btn-white.btn-yellow.active.dropdown-toggle.no-border,.open>.btn-white.btn-yellow.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-yellow,fieldset[disabled] .btn-white.btn-yellow.active,fieldset[disabled] .btn-white.btn-yellow:active,fieldset[disabled] .btn-white.btn-yellow:focus,fieldset[disabled] .btn-white.btn-yellow:hover{border-color:#ecd181}.btn-white.btn-grey{border-color:#c6c6c6;color:#8c8c8c!important}.btn-white.btn-grey.active,.btn-white.btn-grey:active,.btn-white.btn-grey:focus,.btn-white.btn-grey:hover,.open>.btn-white.btn-grey.active.dropdown-toggle,.open>.btn-white.btn-grey.dropdown-toggle{background-color:#ededed!important;border-color:#c6c6c6;color:#857979!important}.btn-white.btn-grey.active.no-border,.btn-white.btn-grey.active[disabled],.btn-white.btn-grey.disabled,.btn-white.btn-grey.disabled.active,.btn-white.btn-grey.disabled:active,.btn-white.btn-grey.disabled:focus,.btn-white.btn-grey.disabled:hover,.btn-white.btn-grey.no-border:active,.btn-white.btn-grey.no-border:focus,.btn-white.btn-grey.no-border:hover,.btn-white.btn-grey[disabled],.btn-white.btn-grey[disabled]:active,.btn-white.btn-grey[disabled]:focus,.btn-white.btn-grey[disabled]:hover,.open>.btn-white.btn-grey.active.dropdown-toggle.no-border,.open>.btn-white.btn-grey.dropdown-toggle.no-border,fieldset[disabled] .btn-white.btn-grey,fieldset[disabled] .btn-white.btn-grey.active,fieldset[disabled] .btn-white.btn-grey:active,fieldset[disabled] .btn-white.btn-grey:focus,fieldset[disabled] .btn-white.btn-grey:hover{border-color:#c6c6c6}

.btn.btn-round {
    border-bottom-width: 2px;
    border-radius: 4px !important;
}

.btn-bold {
    font-weight: bold;
}

.dropdown-50{min-width:50px}.dropdown-75{min-width:75px}.dropdown-100{min-width:100px}.dropdown-125{min-width:125px}.dropdown-150{min-width:150px}.dropdown-hover{position:relative}.dropdown-hover:before{background-color:transparent;bottom:-2px;content:"";display:block;left:-2px;position:absolute;right:-2px;top:-2px}.dropdown-hover:hover>.dropdown-menu{display:block}.dropdown-menu>.dropdown-hover>.dropdown-menu{left:99%;right:auto;top:-5px}.dropdown-menu>.dropdown-hover>.dropdown-menu.dropdown-menu-right{left:auto;right:99%}.dropdown-menu>.dropdown-hover.dropup>.dropdown-menu,.dropup .dropdown-menu>.dropdown-hover>.dropdown-menu{bottom:-5px;top:auto}

/*** End ***/


.form-control {
    color: #000 !important;
}

.panel .panel-heading,
.panel .panel-body {
    padding:5px !important;
}




.badge-danger{
    background-color: #ff0000 !important;
}






.ace-scroll {
    overflow: hidden;
}

.ace-scroll:hover .scroll-active, .scroll-active.scroll-track:hover, .scroll-active.scroll-track.scroll-hover, .scroll-active.scroll-track.active, .scroll-active.scroll-track:active {
    width: 8px;
    opacity: 1;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.ace-scroll:hover .scroll-active, .scroll-active.scroll-track:hover, .scroll-active.scroll-track.scroll-hover, .scroll-active.scroll-track.active, .scroll-active.scroll-track:active {
    width: 8px;
    opacity: 1;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.scroll-track.scroll-active {
    -webkit-transition: width .25s ease .75s,opacity .25s ease .75s;
    -o-transition: width .25s ease .75s,opacity .25s ease .75s;
    transition: width .25s ease .75s,opacity .25s ease .75s;
}
.scroll-track {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
    height: auto;
    background-color: #E7E7E7;
    z-index: 99;
    width: 0;
    opacity: 0;
}

.scroll-content {
    position: static;
    overflow: hidden;
}



body{
    font-size: 12px;
}







.dropdown-navbar .msg-photo {
    max-width: 36px;
    float: left;
    margin-top: 5px;
    /*border-radius: 100px;*/
}

.dropdown-navbar .msg-title {
    display: inline-block;
    line-height: 14px;
}

.dropdown-navbar .msg-body {
    display: block;
    /*line-height: 50px;*/
    font-size: 12px;
    white-space: normal;
    vertical-align: middle;
    margin-left: 50px;
    padding-top:10px;
}

.dropdown-navbar .msg-time {
    display: block;
    font-size: 11px;
    color: #777;
    padding-bottom: 10px;
}






.dropdown-contents ul.dropdown-navbar{
    list-style: outside none none;
    margin:0;
    line-height: 45px;
}

.dropdown-contents ul.dropdown-navbar > li > a{
    border-bottom: none;
}


.breadcrumbs {
    padding-left: 10px;
    margin-bottom: 5px;
    position: fixed;
    width: 700px;
    z-index: 998;
    margin-top: -5px;
}



.sidebarGroups > ul,
.sidebarGroups > li {
    list-style: inside none none;
    list-style-type: none;
    margin:0px;
    cursor: pointer;
    line-height: 20px;
}

.sidebarGroups li:hover{
    background-color: #d5d5d5;
}

.sidebarGroups  a {
    color: #393939;
    text-decoration: none;
}



.rightAds {
    min-width: 100px;
    max-width:310px;
    height:auto;
    width:310px;

}

#stickyRightAds {
    overflow-x: hidden;
    float: right;
    overflow-x: hidden;
    vertical-align: top;
    margin-top:35px;
}

.rightAds-panel {
    height:auto;
    min-height:100px;
    width:100%;
    margin-bottom:5px;
    padding:5px;
    margin-top:5px
}

.sticky-wrapper.is-sticky{
    /*float:left !important;*/
}




/***  POST  css ******/
.post-avatar{
    display: inline-block;
    left: 0;
    width: 45px;
    float:left;
}

.post-avatar.avatar-creator img{
    border: 1px solid #000000;
    /*border-radius: 100%;*/
    max-width: 40px;
    /*position: relative;*/
}

.post-avatar.avatar-user img{
    border: 1px solid #000000;
    max-width: 30px;
    display: inline-block;
}

.post-body {
    font-size: 13px;
}

.post-title{
    display:block;
    font-weight: bold;
    padding-bottom: 5px;
}

.post-title a{
    text-decoration: none;
    color: #3a0cfe;
}

.post-subject{
    font-size: 85%;
    display:block;
    padding-top:5px;
}

.post-description{
    
}

.post-title.single {
    font-size:140% ;
    padding: 0 !important;
}

.post-matter.single{
    display:block;
    font-weight: bold;
    font-style: italic;
    font-size:110%;
    padding-bottom: 5px;
}

.post-footer{
    padding-left:5px;
    padding-right:5px;
    
    
}

.post-footer input{
    font-size:12px;
    padding: 0 5px 0 5px;
}


/*BootstrapDialog Style*/
.modal-body {
    padding:10px;
}


.itemdiv {
    min-height: 20px !important;
}



.dropzone{
    padding:10px !important;
}

.dz-image {
    border-radius: 0 !important;
    border:black 2px solid !important;
}



/*CYCLE 2 Carousel PREV NEXT*/
/* prev / next links */

/* overlay */
.cycle-overlay {
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}
/* prev / next links */
.photo-prev, .photo-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.photo-prev { left: 0;  background: url('/assets/images/left.png') 50% 50% no-repeat;}
.photo-next { right: 0; background: url('/assets/images/right.png') 50% 50% no-repeat;}
.photo-prev:hover, .photo-next:hover { opacity: .7; filter: alpha(opacity=70) }


/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}



.menu-bar {
    margin-bottom: 5px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    min-height: 30px;
    line-height: 30px;
    padding: 0 12px 0 10px;
    display: block;
}


.reply-comment:after {
    display: block;
    content: "";
    height: 1px;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    left: 16px;
    right: -12px;
    margin-top: 9px;
    border-top: 1px solid #e4ecf3;
}

/*#post-scroller {
    margin-top: 70px;
}*/
